a {
    text-decoration: none !important;
}

.card-header {
    font-size: 1.4em;
}

.card-body {
    font-size: 1.2em;
}

.game-box {
    width: 98%;
    height: 100px;
    cursor: pointer;
    margin: 1%;
    display: table;
    padding: 20px;
}

.game-box h1 {
    font-size: 2.4em;
    font-weight: bolder;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.editButton {
    font-weight: bold !important;
    font-size: 1.2em !important;
}

.question-table {
    width: 100%;
}

.question-title {
    padding: 10px 20px;
    margin: 5px 0;
    font-weight: bold;
}

.answers-box {
    display: flex;
    align-items: center;
}

.question-answer {
    text-align: center;
    float: left;
    padding: 10px 20px;
    margin: 5px 5px;
    border: 2px solid gray;
    border-radius: 10px;
}

.question-panel {
    display: flex;
    align-items: center;
}

.question-panel button {
    margin-left: 10px;
}

.input-text {
    display: flex;
    align-items: center;
}